<div class="esquerda">
        <div class="menu">
            <div class="label"><label>Digite a cidade:</label></div>
            <input id="cidade" type="select"></input>
        </div>
        <script type="text/javascript">
            $('#cidade').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                        var cit = $("#cidade").val();
                        callAPI(cit);

                }
                event.stopPropagation();
            });
        </script>
        <div class="cidade">
            <span id="nomeCidade"class="nomeCidade">Itajuba, </span><span id="pais"class="nomeCidade">Brasil </span><br>
            <span id="dia"class="status">Sabado, </span><span id="hora"class="status">9:</span><span id="minutos"class="status">30,  </span><span id="clima"class="status">Ensolarado</span>
        </div>
        <div class="temperatura">
            <span id="tempNumero" class="tempNumero">23°C</span>
        </div>
        <div  class="imagem">
            <img id="img" src="http://openweathermap.org/img/wn/10d@2x.png">
        </div>
        <div class="humidade">
            <span id="humidade"class="status">Humidade: 45%</span>
        </div>
    </div>

    <div class="direita">
        <div class="menuDir">
            <span class="top5">Top 5 cidades mais pesquisadas</span>
            <div>
                <button class="cit">Cidade 1</button>
                <button class="cit">Cidade 1</button>
                <button class="cit">Cidade 1</button>
                <button class="cit">Cidade 1</button>
                <button class="cit">Cidade 1</button>
            </div>
        </div>


    </div>

<!--<div style="display:none">-->
<div>
    <form id="myForm" action="/add" method="POST">
        <input name="formNome" id="formNome" value="teste">
        <input name="formTemp" id="formTemp"  value="23">
        <input name="formClima" id="formClima"  value="teste">
    </form>
</div>